<header class="sb-page-header">
    <div class="container">
      <div class='row'>
      <div class='col-xs-12'>
        <h1><%= masthead_text %></h1>
        <p>The official blog of Start Bootstrap where we share updates and ideas related to Start Bootstrap!</p>
    </div>
  </div>
  </div>
</header>