<header class="sb-page-header">
        <div class="container">
            <h1><%= masthead_text %></h1>
            <p>The official blog of Start Bootstrap where we share updates and ideas related to Start Bootstrap!</p>
        </div>
    </header>